<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SifizsoftNugets" value="https://pkgs.dev.azure.com/SifizsoftSA/_packaging/Nugets/nuget/v3/index.json" /> 
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <SifizsoftNugets>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="pzzmn6wnlwmqoqbfxfkcriao4hsdxocr5osjkvcppiod5ocdmnzq" />
    </SifizsoftNugets>
  </packageSourceCredentials>
</configuration>