@page "/fetchdata"
@using Drones.FrontEnd.WebApp.ViewModels;
@using static Drones.FrontEnd.WebApp.ViewModels.DroneMv;

<PageTitle>Drones datat</PageTitle>

<h1>Drones Data</h1>

<p>This component fetch data from api server.</p>

@*@if (dronesDto == null)
{
    <div>
        <label>No hay datos</label>
    </div>
}
else
{
    @if (loading)
    {
        <div>
            <label>Cargando</label>
        </div>
    }*@
    <div class="row">
        <div class="col-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Serial</th>
                        <th>Model</th>
                        <th>Weight Limit</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var drone in dronesDto)
                    {
                        <tr>
                            <td>@drone.Id</td>
                            <td>@drone.SerialNumber</td>
                            <td>@drone.Model</td>
                            <td>@drone.WeightLimit</td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
    </div>

}


